<!DOCTYPE html>
<html>
    <head>
        <title>MdServer</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css" />
    </head>
    <body class="markdown-body">
        {{ . }}
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script>function update(){$.ajax({type:"GET",url:"/data",success:function(t){$("body").html(t)}})}$(document).ready(function(){update(),setInterval(update,1e3)});</script>
    </body>
</html>
